<div class="center jumbotron">
  <h1>Welcome to Alpha Blog</h1>
  <p>...</p>
  
  <% if !loggedin?%>
     <%=link_to "Sign up now",signup_path , class:"btn btn-danger btn-lg btn-xlarge", role: "button" %>
  <%end%>
</div>

